{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static '/css/login.css' %}" />
{% endblock %}

{% block body %}
  <div class="contenedorTop">
    <a href="" class="vinculoRegistro no-underline">Registrarse</a>
    <button type="button" class="btn btn-secondary btn-lg botonTop">Nosotros</button>
  </div>

  <div class="card customCard" style="width: 30rem;">
    <h5 class="card-title customTitle">Bienvenido!</h5>

    <h6 class="card-subtitle text-body-secondary customSubtitle">Ingresa tus datos para iniciar sesion</h6>

    <div class="card-body">
      {% comment %}input email{% endcomment %}
      <div class="customInput">
        <label for="inputEmail" class="form-label customLabel">Correo electronico</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Alumno@duocuc.cl" />
      </div>

      {% comment %}input password{% endcomment %}
      <div class="customInput">
        <label for="inputPassword" class="form-label customLabel">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Ingresa tu contraseña" />
      </div>

      <div class="politicasCustom">
        <p>
          Tu informacion sera salvaguardada seguramente segun nuestras
          <a href="" class="hiperVinculoCustom">Politicas de privacidad</a>
        </p>
      </div>

      <div class="row">
        <div class="col-4 d-grid">
          <button type="button" class="btn btn-light btn-lg botonCustomAyuda">Ayuda?</button>
        </div>
        <div class="col-8 d-grid">
          <button type="button" class="btn btn-warning btn-lg botonCustomLogin">Login</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
{% endblock %}
