{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>Login</title>
  <link rel="stylesheet" href="{% static '/css/login.css' %}" />
{% endblock %}

{% block body %}
  <img src="{% static '/img/coffee.png' %}" alt="" class="customImg1" />
  <img src="{% static '/img/girl1.png' %}" alt="" class="customImg2" />
  <img src="{% static '/img/boy1.png' %}" alt="" class="customImg3" />

  <div class="card customCard">
    <h5 class="card-title heading-4 text-center">Bienvenido!</h5>

    <h6 class="card-subtitle text-center parrafo ">Ingresa tus datos para iniciar sesion</h6>

    <div class="card-body">
      <div class="customInput">
        <label for="inputEmail" class="form-label parrafo">Correo electronico</label>

        <input type="email" class="form-control parrafo" id="inputEmail" placeholder="Alumno@duocuc.cl" />
      </div>

      <div class="customInput">
        <label for="inputPassword" class="form-label parrafo">Contraseña</label>

        <input type="password" class="form-control parrafo" id="inputPassword" placeholder="Ingresa tu contraseña" />
      </div>

      <div class="politicasCustom">
        <p class="parrafo">
          Tu informacion sera salvaguardada seguramente segun nuestras
          <a href="" class="parrafo">Politicas de privacidad</a>
        </p>
      </div>

      <div class="row">
        <div class="col-4 d-grid">
          <button type="button" class="btn btn-light botonCustomAyuda">Ayuda?</button>
        </div>
        <div class="col-8 d-grid">
          <button type="button" class="btn btn-warning botonCustomLogin">Login</button>
        </div>
      </div>
    </div>
  </div>

  <div class="contenedorTop">
    <a href="" class="parrafo">Registrarse</a>
    <button type="button" class="btn btn-lg botonTop">Nosotros</button>
  </div>


  <div class="termContainer">
    <a href="" class="parrafo">Terminos de servicio</a>
  </div>

{% endblock %}
