{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>Registro</title>
  <link rel="stylesheet" href="{% static '/css/registro.css' %}" />
{% endblock %}

{% block body %}
  <div class="mainContainer">
    <div class="leftMostContainer"></div>

    <div class="leftContainer">
      <h4 class="heading-5 tituloCustom">Ingresa tus datos para registrarte en la plataforma y comenzar a buscar apoyo academico!</h4>

      <div class="customInput">
        <label for="inputEmail" class="form-label parrafo">Correo electronico</label>

        <input type="email" class="form-control parrafo" id="inputEmail" placeholder="Alumno@duocuc.cl" />
      </div>

      <div class="customInput">
        <label for="inputPassword" class="form-label parrafo">Contraseña</label>

        <input type="password" class="form-control parrafo" id="inputPassword" placeholder="Ingresa tu contraseña" />
      </div>

      <div class="customInput">
        <label for="confirmarPassword" class="form-label parrafo">Confirmar contraseña</label>

        <input type="password" class="form-control parrafo" id="confirmarPassword" placeholder="Confirma tu contraseña" />
      </div>

      <div class="checkContainer">
        <input class="form-check-input" type="checkbox" value="" id="termCheckBox" />
        <label class="form-check-label parrafo" for="termCheckBox">
          Acepto los
          <a href="" class="parrafo">terminos y condiciones</a>
          de Clases Ya!
        </label>
      </div>

      <div class="checkContainer">
        <input class="form-check-input" type="checkbox" value="" id="privaCheckBox" />
        <label class="form-check-label parrafo" for="privaCheckBox">
          Estoy de acuerdo con las
          <a href="" class="parrafo">politicas de privacidad</a>
          de Clases Ya!
        </label>
      </div>

      <div>
        <button type="button" class="btn btn-lg botonCustom heading-6">Registrarse</button>
        <div class="contenedorTop">
          <button type="button" class="btn btn-lg botonTop heading-6">Ya tienes una cuenta?</button>
        </div>
      </div>
    </div>
    <div class="rightContainer">
      <img src="{% static '/img/walking.png' %}" alt="" class="img1" />
      <img src="{% static '/img/boy.png' %}" alt="" class="img2" />
      <img src="{% static '/img/sitImg.png' %}" alt="" class="img3" />
    </div>
  </div>
{% endblock %}
