body {
    background-image: url('/static/img/loginBackground.png');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.customImg1 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 12rem;
    margin-top: 4rem;
    width: 12rem;
    height: auto;
}

.customImg2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20rem;
    height: auto;
}

.customImg3 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 20rem;
    height: auto;
}


.customCard {
    margin: 0 auto;
    width: 30rem;
    padding: 2rem;
    border-radius: 1rem;
}

.customTitle {
    font-weight: bolder;
    text-align: center;
}

.customSubtitle {
    text-align: center;
    margin-bottom: 1rem;
}

.customInput {
    margin-bottom: 2rem;
}

.customLabel {
    font-weight: bold;
}

.hiperVinculoCustom {
    color: black;
    font-weight: bold;
}

.btn.botonCustomAyuda {
    border: solid 1.5px black !important;
}

.politicasCustom {
    margin-bottom: 2rem;
}

.botonCustomLogin {
    background-color: #fbdf54;
    border-color: #f4e9b2;
}

.contenedorTop {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 4rem;
    padding-right: 2rem;
    margin-top: 1rem;
}

.vinculoCustom {
    color: black;
    font-weight: bold;
}

.botonTop {
    background-color: black;
    border-color: black;
    margin-left: 1rem;
}

.termContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 2rem;
    transform: translateX(-50%);
}

.form-control:focus {
    border-color: #fbdf54;
    box-shadow: 0 0 0 0.2rem #f4e9b2;
}

@media (max-width: 768px) {
    .customImg1 {
        display: none;
    }

    .customImg2 {
        display: none;
    }

    .customImg3 {
        display: none;
    }
}

@media (max-height: 600px) {
    .customImg2 {
        display: none;
    }

    .customCard {
        z-index: 2;
    }
}

@media (max-width: 375px) {
    .customCard {
        margin: 0 auto;
        width: 94%;
        padding: 1rem;
        border-radius: 1rem;
    }
}

@media (max-height: 375px) {
    .customCard {
        margin: 0 auto;
        width: 95%;
        height: 95%;
        padding: 1rem;
        border-radius: 1rem;
    }

    .customSubtitle {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .customInput {
        margin-bottom: 0.5rem;
    }

    .politicasCustom {
        margin-bottom: 0.5rem;
    }

    .vinculoRegistro {
        color: black;
        font-weight: bold;
        margin-right: 1rem;
        z-index: 2;
    }

    .botonTop {
        display: none;
    }
}